* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}
a img {
  border: none;
}
button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}
button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  background-color: #ffeedf;
  color: #145434;
  font-family: "Space Grotesk", sans-serif;
}

header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
  border-bottom: 0.1em #145434 solid;
  background-color: #ffeedf;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 36px;
  margin-left: 12px;
}

.nav .material-icons {
  font-size: 36px;
  margin-right: 12px;
}

#container {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 60px;
  justify-content: center;
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
}

.number {
  position: absolute;
  z-index: 98;

  width: 40px;
  height: 40px;
  background-color: #ffeedf;
  border-radius: 50%;
  border: 1px #145434 solid;
  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  position: absolute;
  background-color: #145434;
  color: #ffeedf;
  top: 20px;
  left: 20px;
  padding: 20px;
  width: 370px;
  height: 270px;
  padding: 30px;
}

.title {
  font-size: 36px;
  font-weight: 400;

  padding-bottom: 36px;
  border-bottom: 1px #ffeedf solid;
}

.sub {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}
.text {
  font-size: 18px;
  font-weight: 700;
}
.detailsButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 50px;
  background-color: #ffeedf;
  border: 2px #145434 solid;
  font-size: 14px;
}
.detailsButton .material-icons {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 36px;
}

.detailsButton:hover {
  background-color: #145434;
  color: #ffeedf;
  border: 2px #ffeedf solid;
}
